#loot-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.author-cred {
  min-width: calc(1200px / 3 - 32px);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
