html {
  margin: 0;
  margin-top: 0px;
  padding: 0;
  font-family: 'Semplicita Pro', 'Open Sans', Arial, Helvetica, sans-serif;
  background-color: #323030;
  color: white;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html.fixed {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
